.town-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
}

.city-date{
    position: relative;
    bottom: 160px;
    left: 100px;
    display: flex;
    justify-content: left;
}

.added-informations{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(4, 130px);
    margin-top: 25px;
    width: 80%;
    margin-bottom: 25px;
}


.town-details p{
    display: flex;
    justify-content: flex-start;
    font-weight: 700;
    margin-bottom: 10px;
}

.element{
    background-color: hsl(243, 27%, 20%);
    width: 137px;
    height: 80px;
    border-radius: 8px;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 35px;
}

.town-weather{
    width: 80%;
}

.days-container{
    display: flex;
    gap: 8px;
}

.day{
    background-color: hsl(243, 27%, 20%);
    border-radius: 8px;
    width: 86px;
    height: 90px;
    line-height: 12px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cloud{
    width: 50px;
    height: 50px;
}

.temperature{
    display: flex;
    gap: 20px;
    font-size: 12px;
}